<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<appSettings>
		<add key="TrueVaultApiKey" value="{Your TrueVault API Key (GUID)}" xdt:Locator="Match(key)" xdt:Transform="Replace"/>
		<add key="TrueVaultTestVault" value="{GUID Identifier of a Vault in your account to use for Testing purposes (do not use a production Vault!)}" xdt:Locator="Match(key)" xdt:Transform="Replace"/>
	</appSettings>
</configuration>