<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="TrueVaultApiKey" value="{Your TrueVault API Key (GUID)}"/>
		<add key="TrueVaultTestVault" value="{GUID Identifier of a Vault in your account to use for Testing purposes (do not use a production Vault!)}"/>
	</appSettings>
</configuration>